body {
  background-color: #600707;
  color: #fdffff;
width: 500px;
margin-right: auto;
margin-left: auto;
}
button {
  color: #fdffff;
  padding: 5px 20px;
  background-color: #0aab2a;
  border-style: none;
}
input {
  height: 24px;
}
